@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* fonts
=========
font-family: 'Lato', sans-serif;
*/

:root {
	--primary: #e87d2f;
	--secondary: #ffd34f;
	--tertiary: black;
	--background: #effcff;
	--headercolor: white;
	--headerbackground: rgb(67, 69, 78);
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

/* =================
typography 
==================== */
.site-title,
.site-subtitle,
nav,
.post-card {
	font-family: 'Lato', sans-serif;
}

.site-title {
	font-size: 1.4rem;
	font-weight: 300;
}

.site-subtitle {
	font-weight: 700;
	color: var(--secondary)
}

p,
pre,
code {
	line-height: 1.5;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

a {
	text-decoration: none;
}

/* =================
layout 
==================== */

body {
	background-color: var(--background);
}

main {
	width: 95%;
	margin: auto;
}

.sidebar {
	display: none;
}

.postslist-grid {
	display: grid;
	gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.post-card {
	background: white;
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25);
	transition: transform 250ms ease-in-out;
}

.post-card-image {
	opacity: 1;
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: top;
	transition: opacity ease-in-out 250ms;
}

.post-card:hover {
	transform: scale(1.025);
}

.post-card:hover .post-card-image {
	opacity: .75;
}

.post-card-body {
	margin: .5em;
}

.post-card-title a {
	color: black;

	/* title hover effect */
	background-image: linear-gradient(180deg, transparent 89%, var(--primary) 0);
	background-repeat: no-repeat;
	background-size: 0 100%;
	transition: background-size 250ms ease-in-out;
	position: relative;
}

.post-card-title a:hover {
	text-decoration: none;
	background-size: 100% 100%;
}

.post-card-data {
	margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
	body {
		display: grid;
		grid-template-columns: 4fr 1fr;
	}

	main {
		grid-area: 2 / 1 / 3 / 2;
	}
	
	.sidebar {
		display: block;
		grid-area: 2 / 2 / 3 / 3;
		outline: solid blue;
	}

}

/***************** Header ******************/

header {
	position: relative;
	grid-area: 1 / 1 / 2 / 3;
	background-color: var(--headerbackground);
	width: 100%;
}

.title-div {
	text-align: right;
	color: var(--headercolor);
	padding: .5rem;
}

.site-title,
.site-subtitle {
	margin: 0;
}

/* navigation */

nav {
	position: absolute;
	background: var(--headerbackground);
	top: 100%;
	left: 0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list-item {
	margin-bottom: 1em;
	margin-left: 1em;
}

.nav-list-link {
	position: relative;
	padding: .25em;
	color: var(--headercolor);
	transition: all 200ms ease-in-out;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out; 
}

.nav-list-link:visited {
	color: var(--headercolor)
}

.nav-list-link:hover,
.nav-list-link:focus {
	color: var(--secondary)
}

.nav-list-link[data-current="current item"] {
	color: var(--secondary);
}

/* navigation toggle */
.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-list-link {
	opacity: 1;
	transition: opacity 250ms ease-in-out 300ms; /* animation delay so that the menu items fade in after the menu expanding animatino */
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label i {
	color: var(--headercolor);
	cursor: pointer;
	transition: color 200ms ease-in-out;
}

.nav-toggle-label i:hover {
	color: var(--secondary);
}

@media screen and (min-width: 1000px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	nav {
		all: unset;
		order: 1;
		padding: .5rem;
		display: flex;
		align-items: center;
	}

	.title-div {
		order: 2;
	}

	.nav-list {
		display: flex;
		gap: 1em;
	}

	.nav-list-item {
		margin: 0;
	}

	.nav-list-link {
		opacity: 1;
	}

	.nav-list-link::before {
		content: "";
		display: block;
		height: 5px;
		background: var(--primary);
		position: absolute;
		bottom: -.5em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform ease-in-out 250ms;
	}

	.nav-list-link:hover::before {
		transform: scale(1, 1);
	}
}

/* =================
componetents 
==================== */

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: black;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: black;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}


button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

.youtube-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

