backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# Uncomment below to enable drafts
publish_mode: editorial_workflow

media_folder: "static/img" # Media files will be stored in the repo under images/uploads

collections:
  # Our blog posts
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Post" # Used in the UI
    folder: "posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Summary", name: "summary", widget: "text", hint: "This is the text that will appear below the post title on the home page." }
      - { label: "Featured Image", name: "featuredImage", widget: "image", required: false, hint: "Add an image to the post's card. This is what appears next to the post title on the home page." }
      - { label: "Tags", name: "tags", widget: "select", multiple: true, options: ["Alternative Quizzes", "Announcements", "FAQs", "How To", "Important", "Lessons", "Portfolios", "Tests", "Unit 1", "Unit 2", "Unit 3", "Unit 4"] }
      - { label: "Body", name: "body", widget: "markdown" }
  # Our pages e.g. About
  - name: "teachers"
    label: "Teacher Page"
    folder: "pages/teachers"
    create: true # Change to true to allow editors to create new pages
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Your Name", name: "teacherName", widget: "string", hint: "This is how your name will be displayed (i.e 'Ms. Smith' or 'Suzzy Smith')"}
      - { label: "Image", name: "featuredImage", widget: "image", required: false, default: "https://freesvgdesigns.com/wp-content/uploads/2020/09/00034.png" }
      - { label: "Youcanbook.me Page", name: "youcanbookmeURL", required: false, hint: "Paste the link to your youcanbook.me page", widget: "string"}
      - { label: "WebMail", name: "webmailURL", required: false, hint: "Paste the link to your WebMail", widget: "string"}
      - { label: "Phone Number", name: "phoneNumber", required: false, widget: "string"}
      - { label: "Office Hours", name: "officeHours", required: false, widget: "string"}
      - { label: "LiveLesson Room", name: "livelessonURL", required: false, widget: "string", hint: "Paste the link to your LL room here"}
      - { label: "Body", name: "body", widget: "markdown" }
