<div class="contact-cards">

    {% for teacher in collections.teacher | sort %}
    <article class="teacher-card">
        <a href="{{ teacher.url | url }}"><img class="teacher-card-image" src="{{ teacher.data.featuredImage }}" alt=""></a>

        <div class="teacher-card-body">
            <h2>{{ teacher.data.teacherName }}</h2>
            
            <div class="contact-options">
                <ul class="contact-options-list">
                    {% if teacher.data.phoneNumber %}
                    <li class="contact-options-list-item"><p>Phone: {{ teacher.data.phoneNumber }}{% endif %}</p></li>
                    {% if teacher.data.officeHours %}
                    <li class="contact-options-list-item"><p>Office Hours: {{ teacher.data.officeHours }}</p></li>
                    {% endif %}
                    {% if teacher.data.youcanbookmeURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.youcanbookmeURL }}">YouCanBook.me</a></li>
                    {% endif %}
                    {% if teacher.data.webmailURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.webmailURL }}">WebMail</a></li>
                    {% endif %}
                    {% if teacher.data.livelessonURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.livelessonURL }}">My LiveLesson Room</a></li>
                    {% endif %}
                    <li class="contact-options-list-item"><a href="{{ teacher.url | url }}">Read more about {{ teacher.data.teacherName }}!</a></li>
                </ul>
            </div>
        </div>

    </article>
    {% endfor %}
</div>

