<div class="contact-cards">

    {% for teacher in collections.teacher | sort %}
    <article class="teacher-card">
        <a href="{{ teacher.url | url }}"><img class="teacher-card-image" src="{{ teacher.data.featuredImage }}" alt=""></a>

        <div class="teacher-card-body">
            <h2>{{ teacher.data.teacherName }}</h2>
            
            <div class="contact-options">
                <ul class="contact-options-list">
                    {% if teacher.data.phoneNumber %}
                    <li class="contact-options-list-item"><p><i class="fas fa-phone"></i>  Phone: {{ teacher.data.phoneNumber }}{% endif %}</p></li>
                    {% if teacher.data.officeHours %}
                    <li class="contact-options-list-item"><p><i class="fas fa-clock"></i>  Office Hours: {{ teacher.data.officeHours }}</p></li>
                    {% endif %}
                    {% if teacher.data.youcanbookmeURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.youcanbookmeURL }}"><i class="far fa-calendar-alt"></i>  YouCanBook.me</a></li>
                    {% endif %}
                    {% if teacher.data.webmailURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.webmailURL }}"><i class="far fa-envelope"></i> WebMail</a></li>
                    {% endif %}
                    {% if teacher.data.livelessonURL %}
                    <li class="contact-options-list-item"><a href="{{ teacher.data.livelessonURL }}"><i class="fas fa-thumbs-up"></i>  My LiveLesson Room</a></li>
                    {% endif %}
                    <li class="contact-options-list-item"><a href="{{ teacher.url | url }}"><i class="fas fa-smile-beam"></i>  Read more about {{ teacher.data.teacherName }}!</a></li>
                </ul>
            </div>
        </div>

    </article>
    {% endfor %}
</div>

