<div class="contact-cards">
<article class="teacher-card">
    <img class="teacher-card-image" src="https://picsum.photos/200/300">

    <div class="teacher-card-body">
        <h1>Mr. Sweeney</h1>
        <p>Phone: 555-555-5555</p>
        
        <div class="contact-options">
            <a href="#">YouCanBook.me</a>
            <a href="#">WebMail</a>
        </div>
    </div>

</article>

<article class="teacher-card">
    <img class="teacher-card-image" src="https://picsum.photos/200/300">

    <div class="teacher-card-body">
        <h1>Mr. Sweeney</h1>
        <p>Phone: 555-555-5555</p>
        
        <div class="contact-options">
            <a href="#">YouCanBook.me</a>
            <a href="#">WebMail</a>
        </div>
    </div>

</article>

<article class="teacher-card">
    <img class="teacher-card-image" src="https://picsum.photos/200/300">

    <div class="teacher-card-body">
        <h1>Mr. Sweeney</h1>
        <p>Phone: 555-555-5555</p>
        
        <div class="contact-options">
            <a href="#">YouCanBook.me</a>
            <a href="#">WebMail</a>
        </div>
    </div>

</article>


<article class="teacher-card">
    <img class="teacher-card-image" src="https://picsum.photos/200/300">

    <div class="teacher-card-body">
        <h1>Mr. Sweeney</h1>
        <p>Phone: 555-555-5555</p>
        
        <div class="contact-options">
            <a href="#">YouCanBook.me</a>
            <a href="#">WebMail</a>
        </div>
    </div>

</article>


<article class="teacher-card">
    <img class="teacher-card-image" src="https://picsum.photos/200/300">

    <div class="teacher-card-body">
        <h1>Mr. Sweeney</h1>
        <p>Phone: 555-555-5555</p>
        
        <div class="contact-options">
            <a href="#">YouCanBook.me</a>
            <a href="#">WebMail</a>
        </div>
    </div>

</article>

</div>