<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label"><span><i class="fas fa-bars"></i></span></label>
<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-list">
  {%- for entry in navPages %}
    <li class="nav-list-item">
      <a class="nav-list-link" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  <li><button class="search_btn">Click here to search</button></li>
  </ul>
</nav>
