[
    {% set counter = 1 %}   
    {% for post in postslist %}
    {
        "id": {{counter}},
        "title": "{{post.data.title}}",
        "url": "{{post.url | url}}",
        "summary": "{{post.data.summary}}"
    }{% if loop.last == false %},{% endif %}
    {% set counter = counter + 1 %}
    {% endfor %} 
]