---
title: Search
permalink: /search/index.html
---
<script src="https://unpkg.com/lunr/lunr.js"></script>
<input type="text" placeholder="Start typing to search" class="search">

<i id="loading-text">Loading..</i>

<ul id="results">
<ul>