---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - Important
    - teacher
    - Hide
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag }}"
permalink: /tags/{{ tag }}/
---

{% set postslist = collections[ tag ] %}
{% include "components/postslist-reverse-mini.njk" %}
