---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - Important
    - teacher
    - Hide
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag }}"
permalink: /tags/{{ tag }}/
---

{% if tag == "Unit 1" %}
{% set collection = collections["Unit 1"] %}

<p><a href="https://docs.google.com/document/d/1krN6hTaTlHhOZ7KCK_AshgPKZ2MMFR7AEdkTO3sIOf8/edit?usp=sharing" target="_blank">Study Guide</a></p>
<p><a href="https://docs.google.com/document/d/1hbe6xL1ea5B5wcVtKUyv_AZwWYHosXZqxT3VkeqXNQk/edit?usp=sharing" target="_blank">Note Taking Guide</a></p>


<h2>Tests</h2>
{% include "components/postslist-tests.njk" %}

<h2>Alternative Quizzes</h2>
{% include "components/postslist-alternative-quizzes.njk" %}

<h2>Portfolios</h2>
{% include "components/postslist-portfolios.njk" %}

<h2>Lessons</h2>
{% include "components/postslist-lessons.njk" %}


{% elseif tag == "Unit 2" %}
{% set collection = collections["Unit 2"] %}

<p><a href="https://drive.google.com/file/d/1dTRsUvRWedPQ7tDIEVXzIVUXgixAbIcz/view?usp=sharing" target="_blank">Study Guide</a></p>
<p><a href="https://docs.google.com/document/d/16De3c_SDchEERD619CupmW_THzMqaL28PfY5qko5Zow/edit?usp=sharing" target="_blank">Note Taking Guide</a></p>

<h2>Tests</h2>
{% include "components/postslist-tests.njk" %}

<h2>Alternative Quizzes</h2>
{% include "components/postslist-alternative-quizzes.njk" %}

<h2>Portfolios</h2>
{% include "components/postslist-portfolios.njk" %}

<h2>Lessons</h2>
{% include "components/postslist-lessons.njk" %}

{% elseif tag == "Unit 3" %}
{% set collection = collections["Unit 3"] %}

<p>Study Guide</p>
<p>Note Taking Guide</p>

<h2>Tests</h2>
{% include "components/postslist-tests.njk" %}

<h2>Alternative Quizzes</h2>
{% include "components/postslist-alternative-quizzes.njk" %}

<h2>Portfolios</h2>
{% include "components/postslist-portfolios.njk" %}

<h2>Lessons</h2>
{% include "components/postslist-lessons.njk" %}

{% elseif tag == "Unit 4" %}
{% set collection = collections["Unit 4"] %}

<p><a href="https://docs.google.com/document/d/1w6tKPcOM8YDVNFU64EuEAUkU5R4EtbxnNwJ2MTHKZdo/edit?usp=sharing" target="_blank">Study Guide</a></p>
<p><a href="https://docs.google.com/document/d/1_zk4BRAMMDJpmgQ9nPZS67lkeEHZ7_vPBlR1UWTHX4E/edit?usp=sharing" target="_blank">Note Taking Guide</a></p>

<h2>Tests</h2>
{% include "components/postslist-tests.njk" %}

<h2>Alternative Quizzes</h2>
{% include "components/postslist-alternative-quizzes.njk" %}

<h2>Portfolios</h2>
{% include "components/postslist-portfolios.njk" %}

<h2>Lessons</h2>
{% include "components/postslist-lessons.njk" %}

{% else %}
{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
{% endif %}