<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="title-div"><h1 class="site-title">{{ metadata.title }}</h1><p class="site-subtitle">{{ metadata.subtitle }}</p></div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>


		<div class="sidebar">
		{% for tag in collections.tagList %}
				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" class="post-tag" rel="tag">{{ tag }}</a>
		{% endfor %}
		</div>

	</body>

</html>
