<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="title-div"><h1 class="site-title">{{ metadata.title }}</h1><p class="site-subtitle">{{ metadata.subtitle }}</p></div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% if page.url != "/tags/" %}
		<div class="sidebar">
			<h2 class="sidebar-heading">All Tags</h2>
			<ul class="sidebar-list">
			{% for tag in collections.tagList | sort %}
					{% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<li class="sidebar-list-item"><a href="{{ tagUrl | url }}" class="post-tag" rel="tag">{{ tag }}</a></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		<div id="search_modal" class="modal">

			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<h1>Search</h1>
				<input class="search_input" type="text" autofocus placeholder="Start typing to search">
				<p class="results_text"></p>
				<ul class="results">
				</ul>
			</div>

		</div>

	</body>

</html>
