---
layout: layouts/base.njk
section: home
---
{{ layoutContent | safe }}

<div class="home-page-banner"><div>
<div class="featured-posts-div">
<h2 class="featured-posts-heading">Here are the most imporant announcements at the moment</h2>
    {% set postslist = collections.Important %}
    {% include "components/postslist.njk" %}
</div>

<h2 class="all-posts-heading">Here are all of the announcements</h2>

{% set postslist = collections.Announcements %}
{% include "components/postslist.njk" %}