---
layout: layouts/base.njk
section: post
---
<article class="post-content-container">
  {% if featuredImage %}
  <div class="post-heading-flexbox">
      <img class="post-featured-image" src="{{ featuredImage }}"alt="">
      <h2 class="page-heading">{{ title }}</h2>
  </div>
  {% else %}
  <h2 class="page-heading">{{ title }}</h2>
  {% endif %}
  <p>
    <small>This post was last updated on: 
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>
  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" and tag != "Important" and tag !="teacher" and tag !="Hide"-%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  {{ layoutContent | safe }}


</article>